@import 'common.scss';
@import 'header.scss';
@import 'footer.scss';

.upload{
    width:1154px;
    margin: 0 auto;
    &__header{
        margin-top: 100px;
        padding-bottom: 50px;
        border-bottom: 1px solid $gray;
        h2{        
            display:flex;
            flex-direction: column;
            text-align: center;
            font-size: 42px;
            font-weight: bold;
            span{
                font-size: 18px;
                color: $gray;
            }
        }
        &--changeButton{
            display:flex;
            justify-content: center;
            margin-top: 50px;
            button:first-child{
                @include btnFormat();
            }
            button:last-child{
                @include btnFormat($white,$black);
            }
        }
    }
    &__main{
        h3,li{
            font-weight: bold;
            font-size: 18px;
        }
        input[type=file],
        input[type=text],
        select,
        textarea{
            border: 1px solid $gray;
        }
        .arrangeList__main{
            display:grid;
            grid-template-columns:444px 270px 1fr;
            grid-template-rows:240.5px 143px 1fr; 
            grid-template-areas:
            "file info info"
            "title info info"
            "tag tag provider";
            margin-top: 50px;
        &--file{
            grid-area:file;
            h3{
                margin-bottom: 20px;
                color: $red;
            }
            
            label > input{
                opacity:0;
                position:relative;
                top:-95px;
                background: #000;
                width:420px;
                height:150px;
            }
            label{
                display:block;
                width:420px;
                height:150px;
                border: 3px dashed $gray;
                p{
                    width:147px;
                    margin: 0 auto;
                    margin-top: 50px;
                    background: $black;
                    border: 1px solid $black;
                    border-radius: 30px;
                    line-height: 40px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                    color: $white;
                }
                &:hover{
                    background: $gray;
                    border: 3px dashed $black;
                    p{
                        color: $gray;
                    }
                }
            }
        }
        &--title{
            grid-area:title;
            h3{
                margin-bottom: 20px;
            }
            input{
                width:420px;
                line-height: 50px;
            }
        }
        &--info{
            grid-area:info;
            h3{
                margin-bottom: 20px;
            }
            textarea{
                height:293px;
                width:710px;
            }
        }
        &--tag{
            grid-area:tag;
            h3{
                margin-bottom: 20px;
            }
            input{
                width:695px;
                line-height: 50px;
            }
        }
        &--provider{
            grid-area:provider;
            h3{
                margin-bottom: 20px;
            }
            select{
                width:420px;
                line-height: 50px;
            }
        }
        &--attention{
            margin-top: 45px;

            .com{
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                padding: 5px 10px;
                position: relative;
                width: auto;
            }
            ul{
                display:flex;
            }
            li:first-child{
                margin-right: 20px;
            }
        }
        &--form{
            width:100%;
            margin-top: 100px;
            background: $black;
            border: 1px solid $black;
            border-radius: 30px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            color: $white;
        }
        }
        .unfinished__main{
            display:grid;
            grid-template-columns:444px 270px 1fr;
            grid-template-rows:240.5px 143px 1fr; 
            grid-template-areas:
            "file info info"
            "title info info"
            "tag info info";
            margin-top: 50px;
            &--file{
                grid-area:file;
                h3{
                    margin-bottom: 20px;
                    color: $red;
                }
                
                label > input{
                    opacity:0;
                    position:relative;
                    top:-95px;
                    background: #000;
                    width:420px;
                    height:150px;
                }
                label{
                    display:block;
                    width:420px;
                    height:150px;
                    border: 3px dashed $gray;
                    p{
                        width:147px;
                        margin: 0 auto;
                        margin-top: 50px;
                        background: $black;
                        border: 1px solid $black;
                        border-radius: 30px;
                        line-height: 40px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 14px;
                        color: $white;
                    }
                    &:hover{
                        background: $gray;
                        border: 3px dashed $black;
                        p{
                            color: $gray;
                        }
                    }
                }
            }
        &--title{
            grid-area:title;
            h3{
                margin-bottom: 20px;
            }
            input{
                width:420px;
                line-height: 50px;
            }
        }
        &--info{
            grid-area:info;
            h3{
                margin-bottom: 20px;
            }
            textarea{
                height:436px;
                width:710px;
            }
        }
        &--tag{
            grid-area:tag;
            h3{
                margin-bottom: 20px;
            }
            input{
                width:420px;
                line-height: 50px;
            }
        }
        &--provider{
            grid-area:provider;
            h3{
                margin-bottom: 20px;
            }
            select{
                width:420px;
                line-height: 50px;
            }
        }
        &--attention{
            margin-top: 45px;
            input[type=checkbox]{
                display:none;
            }
            .com{
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                padding: 5px 30px;
                position: relative;
                width: auto;
                &:after{
                    background: #fff;
                    border: 1px solid #231815;
                    content: '';
                    display: block;
                    height: 16px;
                    left: 5px;
                    margin-top: -8px;
                    position: absolute;
                    top: 50%;
                    width: 16px;
                }
                &:before{
                    border-right: 3px solid #ed7a9c;
                    border-bottom: 3px solid #ed7a9c;
                    content: '';
                    display: block;
                    height: 9px;
                    left: 10px;
                    margin-top: -7px;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    transform: rotate(45deg);
                    width: 5px;
                }
            }
            input[type=checkbox]:checked + .com:after {
                opacity: 1;
            }
            ul{
                display:flex;
            }
            li:first-child{
                margin-right: 20px;
            }
        }
        &--form{
            width:100%;
            margin-top: 100px;
            background: $black;
            border: 1px solid $black;
            border-radius: 30px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            color: $white;
        }
        }
}
}